.App {
  height: 100vh;
  background: whitesmoke;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.videoContainer {
}

.title {
  font-size: 52px;
  margin-bottom: 8px;
}

.motto {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

.logoHeaderBackgroundContainer {
  display: flex;
  background-image: url("./mistForest.jpg");
  background-color: #cccccc;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  position: absolute;
}

.youtubeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 560px;
}

.youtubeText {
  font-size: 30px;
  margin-bottom: 20px;
}
