.App {
    background: whitesmoke;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding: 20px;
}

.headerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.videoContainer {
    margin: 40px;
}

.title {
    font-size: 52px;
    margin-bottom: 8px;
}

.motto {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.logo {
    width: 200px;
}